paper-header-panel { 
    height: 100% 
}
#map {
    height: calc(100vh - 64px);
    width: 100%;
}
body {
    background: #fafafa;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}
.title{
	font-family: 'Lobster', cursive !important; 
	text-align: center;
}
.title h1{
    display: inline-block;
}
.title h1:before{
    content: url(../images/title-logo.png);
    padding-right: 10px;
    display: inline-block;
}
#drawer{
	width: 20vw;
    overflow: scroll;
}
iron-pages{
    padding: 0  !important;
    /*width: 100%;*/
    /*height: 100%;*/
}
iron-list {
    height: 100%;

}
#draw{
    background-color: #ffffff;
    max-height: calc(100vh - 64px);
    /*background-image: url(../images/canvas-tex.gif);*/
}
.nav{
    padding:0; 
}
.nav-card{
    width: calc(100% - 2em);
    margin: 1em 0px 1em 1em;
    word-wrap: break-word;
}
#about{
    position: relative;
}
.hidden{
    display: none;
}
#blueBox{
    position: fixed;
    top: 0;
    content: '';
    width: 20vw;
    height: 100vh;
    background: #3EAAF7;
    /*overflow: hidden;*/
}

 @media (min-width: 601px) {

    #drawer{
    width: 40vw;
    overflow: scroll;
    }
  }